path(X,Y,W) | notPath(X,Y,W) :- source(X), edge(X,Y,W).

path(X,Y,W) | notPath(X,Y,W) :- path(_,X,_), edge(X,Y,W).

start(X) :- source(X), path(X,_,_).
:- source(X), not start(X).

end(X) :- path(_,X,_).
:- destination(X), not end(X).

:~ path(X,Y,W). [W@1 ,X,Y]